<form method="post" autocomplete="off" id="form">
    <div class="form-group">
        <label>Title</label>
        <input type="text" class="form-control" id="Title" />
    </div>
    <div class="form-group">
        <label>Subtitle</label>
        <input type="text" class="form-control" id="Subtitle" />
    </div>
    <div id="summernote">
    </div>
    <div class="form-group">
        <label>ImagePath</label>
        <input type="file" class="form-control" name="ImagePath" />
    </div>

    @Html.DropDownList("Categories",null,"Please Select Category", new {@class="form-control"})
    <br />
    <div class="btn-group-toogle">
        <button type="button" onclick="Save()" class="btn btn-primary">Save</button>
    </div>
</form>

@section Scripts
{
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>

<script>
    $(document).ready(function() {
        $('#summernote').summernote();
    });

    function Save() {
        var title = document.getElementById("Title");
        var subtitle = document.getElementById("Subtitle");
        var category = document.getElementById("Categories");
        var content = $('#summernote').summernote('code');
        var form = document.getElementById("form");

        var formData = new FormData(form);
        formData.append("title", title.value);
        formData.append("subtitle", subtitle.value);
        formData.append("categoryId", category.value);
        formData.append("content", content);

        fetch('/Blog/Save', {
                method: 'POST',
                body: formData
            }).then(res => res.json())
    }
</script>
}